:root{
    --color: rgb(0, 0, 0);
    --background: rgb(253, 187, 43);
    --sec-background: rgb(255, 220, 144);
    --page-background: rgb(250, 240, 221);
    --button: rgb(170, 107, 44);
    --button-color: rgb(255, 255, 255);
    --text-dark: rgb(48, 48, 48);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.d-flex{
    display: flex;
}

.a-center{
    align-items: center
}

.j-center{
    justify-content: center;
}

@import "./_partition/navbar.scss";
@import "./_partition/homeContent.scss";
@import "./_partition/projectsContent.scss";
@import "./_partition/aboutContent.scss";
@import "./_partition/contactsContent.scss";
@import "./_partition/footer.scss";