.navbar {
    justify-content: space-around;
    background-color: var(--background);
    .logo{
        cursor: pointer;
        text-decoration: none;
        color: var(--color);
        h1{
            font-size: 34px;
            font-weight: 400;
            color: #000000;
            span{
                font-size: 48px;
                font-weight: 700;
                color: var(--button);
            }
        }
    }
    .pages{
        gap: 20px;
        .link{
            text-decoration: none;
            color: var(--color);
            font-size: 18px;
            font-weight: 400;
            background-color: var(--button);
            padding: 5px 10px;
            color: var(--button-color);
            border-radius: 20px;
            &:hover{
                box-shadow: 0 0 5px 5px rgb(255, 255, 255);
            }
        }
    }
    .menu{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .navbar{
        display: relative;
        .pages{
            display: none;
        }
        .menu {
            display: initial;
            font-size: 28px;
            cursor: pointer;
            
        }
        .menuList{
            display: absolute;
            position: fixed;
            top: 70px;
            right: 0;
            background-color: var(--background);
            flex-direction: column;
            padding: 10px 30px;
            .link{
                text-decoration: none;
                color: var(--color);
                font-size: 18px;
                padding: 5px;
                &:hover{
                    color: var(--button-color);
                }
            }
            
            
        }
    }
    
}